*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial,sans-serif;
}
section{
    position: relative;
    width: 100%;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    width: 580px;
    margin: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.search-box{
    position: relative;
    width: 100%;
    margin-top: 35px;
}
.query{
    width: 100%;
    border: 1px solid rgba(204,204,204,0.5);
    outline: none;
    font-size: 16px;
    border-radius: 30px;
    padding: 13px 60px 13px 50px;
}
img{
    max-width: 100%;
    padding: 0 5px;
}
.btn{
    margin: 25px 5px;
    padding: 12px 20px ;
    color: #3c4043;
    background-color: #f8f9fa;
    font-size: 14px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    outline: none;
}
.btn:hover{
    border: 1px solid #dadce0;
    padding: 10px 19px;
}
.icons{
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 12px 20px;
    align-items: center;
    pointer-events: none;
}
p{
    font-size: 13px;
}
a{
    color: #1a0dab;
    font-size: 13px;
    text-decoration-line: none;
}
a:hover{
    text-decoration-line: underline;
}
footer{
    width: 100%;
    height: 12vh;
    background-color: #ccc;
    bottom: 0;
    position: absolute;
}